<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Professor</title>
  </head>
  <body>
    <ul>
      <li><a href="/professor">Home</a></li>
      <li><a href="/profCourses">My Courses</a></li>
      <li><a href="/profAddClass">Add Course</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
    <h1>Your Courses:</h1>
    <hr>
    <table>
      <tr>
        <th>CourseID</th>
        <th>Course Name</th>
        <th>Category</th>
        <th>Credit Hour</th>
        <th>Student Count</th>
      </tr>
      <% for(const teach of teaches){ %>
          <tr>
            <td><%=teach.code %></td>
            <td><%=teach.name %></td>
            <td><%=teach.category %></td>
            <td><%=teach.credit_hours %></td>
            <td><%=count %></td>
          </tr>
      <% } %>

    </table>
  </body>
</html>
