<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Student</title>
  </head>
  <body>
    <ul>
      <li><a href="/student">Home</a></li>
      <li><a href="/stdCourses">My Courses</a></li>
      <li><a href="/stdAddClass">Add Course</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
    <h1>Welcome <%=student.firstname %> <%=student.lastname %></h1>
    <hr>
    <h2>Registered Courses:</h2>
    <table>
      <tr>
        <th>CourseID</th>
        <th>Course Name</th>
        <th>Category</th>
        <th>Credit Hour</th>
      </tr>
      <% for(const reg of regs){ %>
          <tr>
            <td><%=reg.code %></td>
            <td><%=reg.name %></td>
            <td><%=reg.category %></td>
            <td><%=reg.credit_hours %></td>
          </tr>
      <% } %>

    </table>
  </body>
</html>
